<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Time商城-商品详情</title>
    <link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
	<script type="text/javascript" src="{{ static('js/vue-2.5.16.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
	<div id="app">
	<div class="header_con">
		<div class="header" v-cloak>
			<div class="welcome fl">欢迎来到Time商城!</div>
			<div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>[[ username ]]</em>
                    <span>|</span>
                    <a :href="'/logout/?next=/detail/'+ this.goods_detail.spu_id">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a :href="'/login/?next=/detail/'+ this.goods_detail.spu_id">登录</a>
                    <span>|</span>
                    <a href="{{ url('users:register') }}">注册</a>
                </div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{{ url('users:userinfo') }}">用户中心</a>
					<span>|</span>
					<a href="{{ url("cart:cartlist") }}">我的购物车</a>
					<span>|</span>
					<a href="{{ url("orders:userorder",args=(1,)) }}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>
{#        搜索#}
	<div class="search_bar clearfix">
		<a href="{{ url('contents:index') }}" class="logo fl"><img src="{{ static('images/logo.png') }}"></a>
		<div class="search_wrap fl">
			<form method="get" action="/search/" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
			<ul class="search_suggest fl">
				<li><a href="#">索尼微单</a></li>
				<li><a href="#">优惠15元</a></li>
				<li><a href="#">美妆个护</a></li>
				<li><a href="#">买2免1</a></li>
			</ul>
		</div>
		<div class="guest_cart fr">
			<a href="{{ url("cart:cartlist") }}" class="cart_name fl">我的购物车</a>
                <div class="goods_count fl" id="show_count">[[cartLen]]</div>
                <ul class="cart_goods_show">
                    <li v-for="cart in cartss">
                        <a :href="'/detail/'+cart.spu_id">
                            <img :src="cart.img" alt="商品图片">
                            <h4>[[cart.title]]</h4>
                            <div>[[cart.count]]</div>
                        </a>
                    </li>
                </ul>
		</div>
	</div>
{#        导航栏#}
	<div class="navbar_con">
		<div class="navbar">
			<ul class="navlist fl">
				<li><a href="{{ url("contents:index") }}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">盆帽/渔夫帽</a></li>
				<li class="interval">|</li>
				<li><a href="#">棒球帽/鸭舌帽</a></li>
                <li class="interval">|</li>
				<li><a href="#">盆帽/渔夫帽</a></li>
				<li class="interval">|</li>
				<li><a href="#">早春小丝巾</a></li>
                <li class="interval">|</li>
				<li><a href="#">草帽</a></li>
				<li class="interval">|</li>
				<li><a href="#">新款热卖</a></li>
			</ul>
		</div>
	</div>
{#    商品基本信息#}
	<div id="goods_detail_con" class="goods_detail_con clearfix" >
        <div id="cartB"></div>
		<div class="goods_detail_pic fl" v-cloak>
            <div class="datu">
                <img :src="default_image">
            </div>
            <div class="xiaotu">
                <ul>
                    <li v-for="(image,index) in goods_detail.detail_image" :class="{c:index==isShowXiaotu}" @mouseover="ShowXiaotu(index,image)"><img :src="image"></li>
                </ul>
            </div>
        </div>
		<div class="goods_detail_list fl" v-cloak>
			<h3>[[goods_detail.title]]</h3>
			<div class="price_bar">
                <div class="price_item">
                    <span class="show_pirce">价格： ¥<s>[[price]]</s></span>
                </div>
				<div class="price_item">
                    <span class="show_disc_pirce">促销价： <em>￥[[now_price]]</em></span>
                    <span class="goods_judge">累计销量：<em>[[sales]]</em></span>
                    <span class="goods_judge">评价：<em>[[comments]]</em></span>
                </div>
			</div>
            <div class="kefu">
                <span>客服：</span>
                <a>
                    <img src="{{ static("images/kefu.gif") }}">
                </a>
            </div>
{#            弹窗#}
            <div class="goods_sku_panel" v-show="showPanel1">
                <div class="panel_title">
                    <span class="title">选择商品信息</span>
                    <span class="panel_cancel" @click="showPanel">X</span>
                </div>
                <div class="goods_spec">
                <div class="type_select" v-for="(specs_value,specs_key) in goods_detail.goods_specs.color" v-show="isShowColor">
                    <div class="specs_title">[[specs_key]]:</div>
                    <div class="specs_option" style="cursor:default">
                        <ol>
                            <li v-for="(spec,index) in specs_value" :class="{selected:index==color_num}" @click="changeSku(spec,specs_key,goods_detail.spec_dict[specs_key],index,0)">[[spec]]</li>
                        </ol>
                    </div>
                </div>
                <div class="type_select" v-for="(specs_value,specs_key) in goods_detail.goods_specs.size" v-show="isShowSize">
                    <div class="specs_title">[[specs_key]]:</div>
                    <div class="specs_option" style="cursor:default">
                        <ol>
                            <li v-for="(spec,indey) in specs_value" :class="{selected:indey==size_num}" @click="changeSku(spec,specs_key,goods_detail.spec_dict[specs_key],indey,1)">[[spec]]</li>
                        </ol>
                    </div>
                </div>
            </div>
                <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl" style="cursor:default">
                    <a @click="on_addition" class="add fr">+</a>
                    <input v-model="sku_count" @blur="check_sku_count" type="text" class="num_show fl">
                    <a @click="on_minus" class="minus fr">-</a>
                </div>
            </div>
                <div class="operate_btn" style="cursor:pointer">
				    <a href="javascript:void(0)" @click="to_buy" class="add_cart1" id="add_cart" v-show="spec_ensure" v-if="isBuy">确定</a>
                    <a href="javascript:void(0)" @click="add_carts" class="add_cart1" id="add_cart" v-show="spec_ensure" v-else>确定</a>
			</div>
            </div>
{#            选择窗#}
            <div class="goods_panel" v-show="showPanel2">
                <div class="goods_spec">
                <div class="type_select" v-for="(specs_value,specs_key) in goods_detail.goods_specs.color" v-show="isShowColor">
                    <div class="specs_title">[[specs_key]]:</div>
                    <div class="specs_option" style="cursor:default">
                        <ol>
                            <li v-for="(spec,index) in specs_value" :class="{selected:index==color_num}" @click="changeSku(spec,specs_key,goods_detail.spec_dict[specs_key],index,0)">[[spec]]</li>
                        </ol>
                    </div>
                </div>
                <div class="type_select" v-for="(specs_value,specs_key) in goods_detail.goods_specs.size" v-show="isShowSize">
                    <div class="specs_title">[[specs_key]]:</div>
                    <div class="specs_option" style="cursor:default">
                        <ol>
                            <li v-for="(spec,indey) in specs_value" :class="{selected:indey==size_num}" @click="changeSku(spec,specs_key,goods_detail.spec_dict[specs_key],indey,1)">[[spec]]</li>
                        </ol>
                    </div>
                </div>
            </div>
                <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl" style="cursor:default">
                    <a @click="on_addition" class="add fr">+</a>
                    <input v-model="sku_count" @blur="check_sku_count" type="text" class="num_show fl">
                    <a @click="on_minus" class="minus fr">-</a>
                </div>
            </div>
    {#			<div class="total" v-cloak>总价：<em>29.9元</em></div>#}
                <div class="operate_btn" style="cursor:pointer">
                    <a  class="buy_btn" id="add_cart" @click="to_buy">立即购买</a>
                    <a href="javascript:void(0)" @click="add_carts" class="add_cart" id="add_cart">加入购物车</a>
			</div>
            </div>
            <div class="detail_coll">
                <div class="collection">
                    <img src="{{ static("images/collections.png") }}">
                    <span>0</span>
                </div>
                <div class="share">
                    <b ></b>
                    <span>分享</span>
                </div>
                <div class="report">
                    <span>举报</span>
                </div>
            </div>
            <div class="server">
                <div class="title"><span>服务说明:</span></div>
                <ul class="server-item">
                    <li>
                        <img src="{{ static("images/detail_server.png") }}">
                        <span>72小时发货</span>
                    </li>
                    <li>
                        <img src="{{ static("images/detail_server.png") }}">
                        <span>7天无理由退货</span>
                    </li>
                    <li>
                        <img src="{{ static("images/detail_server.png") }}">
                        <span>延误必赔</span>
                    </li>
                    <li>
                        <img src="{{ static("images/detail_server.png") }}">
                        <span>退补运费</span>
                    </li>
                </ul>
            </div>
            <div class="pay">
                <div class="title"><span>支付方式:</span></div>
                <div class="pay-item"></div>
            </div>
		</div>
        <div class="similar_goods fr">
            <div class="title">
                <span>热卖推荐</span>
            </div>
            <div class="similar_item">
                <ul>
                    <li><img src="{{ static("images/similar01.jpg") }}"><span>￥33.71</span></li>
                    <li><img src="{{ static("images/similar02.jpg") }}"><span>￥19.55</span></li>
                    <li><img src="{{ static("images/similar03.jpg") }}"><span>￥19.75</span></li>
                </ul>
            </div>
        </div>
	</div>
{#        商品详情#}
    <div class="detail_info">
        <div class="shops">
            <div class="shops_info">
                <h1>店铺信息</h1>
            </div>
            <div class="shops_cat"></div>
            <div class="shops_recomm"></div>
        </div>
        <div class="detail_info_item">
            <div class="detail_nav">
                <ul class="tabbar-list clearfix">
                    <li class="tab-graphic selected">
                        <a href="#">商品详情</a>
                    </li>
                    <li class="tab-graphic ">
                        <a href="#">累计评价</a>
                    </li>
                    <li class="tab-graphic">
                        <a href="#">本店同类商品</a>
                    </li>
                </ul>
            </div>
            <div class="detail">
                <div class="detail_title">
                    <p>商品描述</p>
                    <span class="title">[[goods_detail.desc_dict.title]]</span>
                </div>
                <div class="detail_params">
                    <p>产品参数</p>
                    <span class="title">帽子女秋冬季包头帽韩版潮套头帽堆堆帽休闲百搭头巾帽睡帽月子帽帽子女秋冬季包头帽韩版潮套头帽堆堆帽休闲百搭头巾帽睡帽月子帽</span>
                </div>
                <div class="show_goods">
                    <p>穿着效果</p>
                    <div class="detail_img">
                        <div class="img" v-for="desc_img in goods_detail.desc_dict.image"><img :src="desc_img"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_menu">
            <div class="detail_menu_title">
                <span>手机扫码下单</span>
                <i class="qrcode-mini"></i>
                <i class="qrcode-arrow"></i>
            </div>
            <div class="detail_menu_item">
                <ul>
                    <li class="selected"><span>商品描述</span></li>
                    <li><span>产品参数</span></li>
                    <li><span>穿着效果</span></li>
                </ul>
            </div>
        </div>
    </div>
{#    <div class="ccc"></div>#}

	<div class="main_wrap clearfix">
{#		<div class="l_wrap fl clearfix">#}
{#			<div class="new_goods">#}
{#				<h3>热销排行</h3>#}
{#				<ul>#}
{#                    <li v-for="sku in hot_skus">#}
{#                        <a :href="sku.url"><img :src="sku.default_image_url"></a>#}
{#                        <h4><a :href="sku.url">[[ sku.name ]]</a></h4>#}
{#                        <div class="price">￥[[ sku.price ]]</div>#}
{#                    </li>#}
{#                </ul>#}
{#			</div>#}
{#		</div>#}
{#		<div class="r_wrap fr clearfix">#}
{#			<ul class="detail_tab clearfix">#}
{#				<li @click="on_tab_content('detail')" :class="tab_content.detail?'active':''">商品详情</li>#}
{#				<li @click="on_tab_content('pack')" :class="tab_content.pack?'active':''">规格与包装</li>#}
{#				<li @click="on_tab_content('service')" :class="tab_content.service?'active':''">售后服务</li>#}
{#                <li @click="on_tab_content('comment')" :class="tab_content.comment?'active':''">商品评价(18)</li>#}
{#			</ul>#}
{#			<div @click="on_tab_content('detail')" class="tab_content" :class="tab_content.detail?'current':''">#}
{#				<dl>#}
{#					<dt>商品详情：</dt>#}
{#					<dd>{{ sku.spu.desc_detail|safe }}</dd>#}
{#				</dl>#}
{#			</div>#}
{#			<div @click="on_tab_content('pack')" class="tab_content" :class="tab_content.pack?'current':''">#}
{#				<dl>#}
{#					<dt>规格与包装：</dt>#}
{#					<dd>{{ sku.spu.desc_pack|safe }}</dd>#}
{#				</dl>#}
{#			</div>#}
{#			<div @click="on_tab_content('service')" class="tab_content" :class="tab_content.service?'current':''">#}
{#				<dl>#}
{#					<dt>售后服务：</dt>#}
{#					<dd>{{ sku.spu.desc_service|safe }}</dd>#}
{#				</dl>#}
{#			</div>#}
{#            <div @click="on_tab_content('comment')" class="tab_content" :class="tab_content.comment?'current':''">#}
{#				<ul class="judge_list_con">#}
{#					<li class="judge_list fl">#}
{#						<div class="user_info fl">#}
{#							<img src="{{ static('images/cat.jpg') }}">#}
{#							<b>张***厨</b>#}
{#						</div>#}
{#						<div class="judge_info fl">#}
{#							<div class="stars_five"></div>#}
{#							<div class="judge_detail">派送非常快，第二天上午就收到。2天使用初步总结，前一部手机也是华为P9plus.MATE10pro包装原封未拆精致大气。拆开后第一眼就看到宝石蓝的手机，非常惊艳；然后就是配件一应俱全。开机各方面设置，把通讯录、短信等同步好，同品牌手机同步很快。和P9plus一样的后置指纹识别很方便。录制指纹容易，解锁非常快，秒开！屏幕完好，默认分辨率显示效果很好。</div>#}
{#						</div>#}
{#					</li>			#}
{#				</ul>#}
{#			</div>#}
{#		</div>#}
	</div>
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	</div>
    <script type="text/javascript">
		{#let category_id = "{{ sku.category.id }}";#}
		{#let sku_price = "{{ sku.price }}";#}
        {#let sku_id = "{{ sku.id }}";#}
        let goods_detail= {{ goods_detail | safe }}
    </script>
	<script type="text/javascript" src="{{ static('js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/detail.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/cartDynamic.js') }}"></script>
{#    <script>#}
{#        var addBtnDom = document.querySelector(".add_cart");#}
{#        var shopCarDom = document.querySelector(".guest_cart");#}
{#        addBtnDom.addEventListener("click",function () {#}
{#            //第一种方式#}
{#            controllPath(addBtnDom, shopCarDom);#}
{#            //第二种方式#}
{#            //controllPath(".add-btn", ".shop-car");#}
{#        })#}
{#    </script>#}
</body>
</html>