{% extends "layout.html" %}
{% block title %}
    <title>Time商城-商品列表</title>
{% endblock %}

{% block content %}
    {#        分类标题#}
        <div class="goods_menu" >
            <h1 class="fl" @mouseover="isShowMenu=true" @mouseleave="isShowMenu=false">主题市场</h1>
            <ul class="navlist fl">
				<li>
                    <a href="{{ url("contents:index") }}">首页</a>
                    <span> | </span>
                </li>
                <li>
                    <a href="javascript:void(0)">限时快抢</a>
                    <span> | </span>
                </li>
                <li>
                    <a href="javascript:void(0)">热搜</a>
                    <span> | </span>
                </li>
			</ul>
		</div>
{#        商品分类目录#}
        <div class="goods_cate" @mouseover="isShowMenu=true" @mouseleave="isShowMenu=false" v-cloak>
            <ul class="goods_menu_item"  v-show="isShowMenu" >
                <li v-for="(key,value) in goods">
                    <div class="level1">
                        <a  href="javascript:void(0)">[[ key.name ]]</a>
                        <a v-for="sub in key.subs" :href="sub.url">[[ sub.name ]]</a>
                    </div>
                </li>
        </ul>
        </div>
{#        面包屑#}
        <div class="goods_breadcrumb" v-cloak>
            <a href="{{ url("contents:index") }}">[[ breadcrums.cat1 ]]</a>
            <span>></span>
            <a href="#">[[breadcrums.cat2]]</a>
            <span>></span>
            <a href="javascript:void(0);">[[breadcrums.cat3]]</a>
	</div>
{#        热销商品#}
        <div class="hot_goods">
            <div class="hot_title">
                <span>热销排行</span>
                <p></p>
            </div>
            <div class="hot" v-for="hot in hots">
                <a class="hot_goods_img" :href="hot.url">
                    <img :src="hot.img">
                </a>
                <a class="hot-goods-title" :href="hot.url">
                    <span class="title">[[hot.title]]</span>
                    <span class="price">￥[[hot.price]]</span>
                </a>
            </div>
        </div>
{#        商品显示顺序#}
        <div class="goods_sort">
            <div class="goods_sort_item">
                <div class="navlist1" style="cursor: default">
                    <a @click="showZhongHe"><span {% if sort == 'default' %}class="active"{% endif %}>综合</span></a>
                    <span class="interval">|</span>
                    <a @click="showPrice"><span  {% if sort == 'price' %}class="active"{% endif %}>价格</span></a>
                    <span class="interval">|</span>
                    <a @click="showSales"><span {% if sort == 'sales' %}class="active"{% endif %}>销量</span></a>
                    <span class="interval">|</span>
                </div>
                <div class="price_interval">
                    <div class="price_interval_left">
                        <span>￥</span>
                        <input type="text" v-model="lp" name="lp" placeholder="00">
                    </div>
                    <span class="heng">-</span>
                    <div class="price_interval_right">
                        <span>￥</span>
                        <input type="text" v-model="rp" name="rp" placeholder="00">
                    </div>
                    <div class="ensure" style="cursor:default">
                        <a @click="submitPrice">确定</a>
                    </div>
                    <span class="ip a
                    interval">|</span>
                </div>
            </div>
        </div>
{#        商品列表#}
        <div class="main_wrap clearfix" v-cloak>
            <div class="goods_spu_list">
                <div class="goods_spu_item" v-for="spu in spus_dict.goods">
                    <a :href="spu.url" class="spu_img">
                        <img :src="spu.image">
                    </a>
                    <a :href="spu.url" class="spu_title">
                        <p class="title">[[ spu.title ]]</p>
                        <div class="price">
                            <b>￥[[ spu.now_price ]]</b>
                            <p>
                                ￥
                                <s>[[ spu.price ]]</s>
                            </p>
                            <span class="collection">
                                <img src="{{ static('images/collections.png') }}">
                                2000
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
{#        分页#}
        <div class="pagenation">
            <div id="pagination" class="page"></div>
        </div>
{#        商品推荐#}
        <div class="goods_recomment">
            <ul>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
                <li>推荐商品</li>
            </ul>
        </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        let category_id = "{{ category_id }}";
        let sort = "{{ sort }}";
        let goods = {{ goods | safe }};
        let spus_dict= {{ spus_dict | safe }};
        let breadcrums = {{ breadcrums | safe }};
        let page_num = {{ page_num }};
        let total_page = {{ total_page }};
        let p_r = '{{ p_r }}'
    </script>
	<script type="text/javascript" src="{{ static('js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/list.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/jquery.pagination.min.js') }}"></script>
{#    分页js#}
	<script>
        $(function () {
            $('#pagination').pagination({
                currentPage: page_num, // 当期所在页码
                totalPage: total_page,   // 总页数
                callback:function (current) {
                    location.href = "/list/11?page=1&amp;sort=default";
                    location.href = '/goodslist/' + category_id + "?page=" + current + "&amp;" + "sort={{ sort }}" + "&amp;" + "p_r=" + p_r;
                }
            })
        });
    </script>
{% endblock %}